# Python cache and bytecode
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables and secrets
.env

# Temporary files
*.tmp
*.temp
tmp/
.temp/
.tmp*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# Logs
*.log

# VSCode settings (optional)